<% provide(:title, "Add Location") %>

<main>
  <h1><%= @page_title %></h1>

  <%= simple_form_for @location do |f| %>
    <%= f.input :type,
      as: :radio_buttons,
      collection: %w(Dungeon Geography Municipality) %>
    <%= f.input :name %>
    <%= f.input :description, as: :text %>
    <%= f.input :visited, as: :boolean %>

    <%= f.submit "Save Location" %>
  <% end %>
</main>
